append styles-inline
  .
    .logo-bar a {color: #aaaaaa;}

mj-wrapper(css-class="logo-bar")
  mj-section
    mj-group
      mj-column
        mj-image(src="https://s3.amazonaws.com/media2-brandetize/newsletter/temp/logo.jpg" width="180px" fluid-on-mobile="false")
        