-// MISC
mj-class(name="bt-primary" border-top="10px solid #3d7aec")
mj-class(name="bb-primary" border-bottom="10px solid #3d7aec")
mj-class(name="bb-grey" border-bottom="2px solid #f2f2f2")

-// FONT COLOR
mj-class(name="txt-white" color="#ffffff")
mj-class(name="txt-black" color="#000000")
mj-class(name="txt-grey" color="#666666")
mj-class(name="txt-footer" color="#aaaaaa")
mj-class(name="txt-primary" color="#3d7aec")

-// BACKGROUND COLOR
mj-class(name="bg-white" background-color="#ffffff")
mj-class(name="bgc-white" container-background-color="#ffffff")
mj-class(name="bg-black" background-color="#000000")
mj-class(name="bg-body" background-color="#f2f2f2")
mj-class(name="bgc-body" container-background-color="#f2f2f2")
mj-class(name="bg-primary" background-color="#3d7aec")
mj-class(name="bgc-primary" container-background-color="#3d7aec")
mj-class(name="bg-accent" background-color="#eafc5e")