-// ELEMENTS
mj-all(font-family="'Open Sans', Arial, sans-serif" font-weight="400" font-size="15px" line-height="23px" )
mj-text(padding="0px 15px" padding-bottom="10px" )
mj-wrapper(padding="0px 10px")
mj-button(inner-padding="15px 30px" border-radius="0px" font-weight="700" padding="10px 15px" line-height="16px" )
mj-image(fluid-on-mobile="true" padding="0px" width="600px" )