-// TYPOGRAPHY
mj-class(name="txt-sm" font-size="12px" line-height="19px")
mj-class(name="txt-md" font-size="14px" line-height="20px")
mj-class(name="txt-lg" font-size="16px" line-height="24px")
mj-class(name="txt-xl" font-size="18px" line-height="28px")
mj-class(name="txt-2x" font-size="20px" line-height="30px")