-// UTILITIES
mj-class(name="center" align="center")
mj-class(name="right" align="right")
mj-class(name="left" align="left")
mj-class(name="italic" font-style="italic")
mj-class(name="bold" font-weight="600")
mj-class(name="caps" style="text-transform: uppercase")
mj-class(name="rtl" direction="rtl")
mj-class(name="fw" width="100%")

-// PADDING RESETS
mj-class(name="pa-0" padding="0px")
mj-class(name="pa-xs" padding="5px")
mj-class(name="pa-sm" padding="10px")
mj-class(name="pa-md" padding="14px")
mj-class(name="pa-lg" padding="20px")

mj-class(name="py-0" padding-top="0px" padding-bottom="0px")
mj-class(name="py-xs" padding-top="5px" padding-bottom="5px")
mj-class(name="py-sm" padding-top="10px" padding-bottom="10px")
mj-class(name="py-md" padding-top="14px" padding-bottom="14px")
mj-class(name="py-lg" padding-top="20px" padding-bottom="20px")

mj-class(name="px-0" padding-left="0px" padding-right="0px")
mj-class(name="px-xs" padding-left="5px" padding-right="5px")
mj-class(name="px-sm" padding-left="10px" padding-right="10px")
mj-class(name="px-md" padding-left="14px" padding-right="14px")
mj-class(name="px-lg" padding-left="20px" padding-right="20px")

mj-class(name="pt-0" padding-top="0px")
mj-class(name="pt-xs" padding-top="5px")
mj-class(name="pt-sm" padding-top="10px")
mj-class(name="pt-md" padding-top="14px")
mj-class(name="pt-lg" padding-top="20px")

mj-class(name="pb-0" padding-bottom="0px")
mj-class(name="pb-xs" padding-bottom="5px")
mj-class(name="pb-sm" padding-bottom="10px")
mj-class(name="pb-md" padding-bottom="14px")
mj-class(name="pb-lg" padding-bottom="20px")

mj-class(name="pl-0" padding-left="0px")
mj-class(name="pl-xs" padding-left="5px")
mj-class(name="pl-sm" padding-left="10px")
mj-class(name="pl-md" padding-left="14px")
mj-class(name="pl-lg" padding-left="20px")

mj-class(name="pr-0" padding-right="0px")
mj-class(name="pr-xs" padding-right="5px")
mj-class(name="pr-sm" padding-right="10px")
mj-class(name="pr-md" padding-right="14px")
mj-class(name="pr-lg" padding-right="20px")


mj-class(name="pt-0" padding-top="0px")
mj-class(name="pb-0" padding-bottom="0px")

-// BORDER RADUIS
mj-class(name="round" border-radius="50%")
mj-class(name="pill" border-radius="30px")
